/* ----------- 기본 변수 ----------- */
:root {
    --primary-color: #6078ea; /* LOZEE 메인 색상 (그라데이션 시작점) */
    --secondary-color: #a777e3; /* LOZEE 보조 색상 (그라데이션 끝점) */
    --background-color: #f0f0f0; /* 일반적인 배경색 */
    --input-area-height: 70px; /* 공통 입력 영역 높이 */
    --gnb-height: 65px; /* GNB 높이 변수 추가 */
}

body {
font-family: 'KoPub World Dotum', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: var(--gnb-height) 0 10px; /* 상단 여백 GNB 높이로, 하단 10px 유지 */
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    overflow: auto;
}

.app-container {
    width: 100%;
    max-width: 640px;
    max-height: calc(100vh - var(--gnb-height) - 20px); /* GNB 높이와 하단 여백 */
    min-height: 400px; /* 기본 창 높이 */
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 auto;
}


/* ⭐ 모바일 화면 (max-width: 639px) ⭐ */
@media (max-width: 639px) {
    body {
        padding: 40px 0; /* 상하 40px 여백 */
        align-items: stretch;
    }
    .app-container {
        width: 100%;
        max-width: 100%; /* 모바일에서는 100% 너비 */
        height: calc(100vh - 80px); /* 상하 40px 여백 고려 */
        min-height: 400px; /* 최소 높이 유지 */
        max-height: calc(100vh - 80px); /* 최대 높이 고정 */
        border-radius: 0; /* 모바일에서 둥근 모서리 제거 */
        display: flex;
        flex-direction: column;
        overflow: hidden; /* app-container 자체는 스크롤 없음 */
    }
}



/* PC 화면 (min-width: 640px) */
@media (min-width: 640px) {
    body {
        padding: 40px 0;
        align-items: center;
        justify-content: center;
    }
    .app-container {
        max-width: 800px;
        height: calc(100vh - 80px);
        min-height: 400px;
        max-height: calc(100vh - 80px);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}